.chat-window-conatiner {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    backface-visibility: hidden;
    will-change: overflow;
}

.recent-chats {
    color: #e74c3c;
    position: absolute;
    z-index: 11;
    right: 50px;
    top: 25px;
}

.chat-messages {
    flex-basis: calc(100vh);
    flex-grow:10;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: auto;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-input-message {
    background-color: #f2f2f2;
    flex-grow: 1;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    /*-moz-appearance: textfield;*/
    /*-webkit-appearance: textfield;*/
    /*border: 1px solid darkgray;*/
    /*font: -moz-field;*/
    /*margin-top: 5px;*/
}

.chat-input-message > textarea::-webkit-scrollbar {
    display: none;
}

.chat-input-message > textarea:focus, input:focus{
    outline: none;
}
